* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #4682b4;
    color: white;
}

.container {
    max-width: 1200px;
    width: 70%;
    margin: 0 auto;
}

.header{
    padding: 25px 0;
    margin-bottom: 50px;
}

main .login-form {
    width: 35%;
    margin: 0 auto;
    background-color: #2a4e6c;
    border-radius: 5px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form__title {
    text-align: center;
    font-size: 2em;
}

.input-wrapper {
    position: relative;
}

.form__input-label {
    position: absolute;
    font-size: 1.5em;
    bottom: 10px;
    left: 0;
}

.form__input-label span {
    display: inline-block;
    transition: 0.2s cubic-bezier(0.49,-0.47,0.49,1.39);
}

.form__input {
    background-color: transparent;
    color: white;
    font-size: 1.5em;
    width: 100%;
    border: 0;
    border-bottom: 2px solid white;
    padding: 10px 0;
    outline: none;
}

.form__input:focus,
.form__input:valid{
    border-color: #add8e6;
}

.form__input:focus + label span,
.form__input:valid + label span{
    color: #add8e6;
    transform: translateY(-25px);
}

.form__action {
    background-color: #add8e6;
    font-size: 1em;
    border: 0;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

.form__action:active {
    transform: scale(0.95);
}

.info__register {
    text-decoration: none;
    cursor: pointer;
    color: #add8e6;
}
